#home-layout{
    .block-main{
        display: flex;
        .wrap-content{
            width: 100%;
            
            .content{
                padding: 38px 40px;
                min-height: calc(100vh - 62px -  62px);
                background-color: #E5E5E5;
                /* width */

            }
        }
        #overlay{
            position: fixed;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
            opacity: 0.5;
            z-index: 99;
        }
    }
    @media screen and (max-width: 768px) {
        .block-main{
            .wrap-content{
                .content{
                    padding: 38px 15px;
                }
            }
        }
    }
}