#reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #515151;
  .reset-password-form {
    max-width: 475px;
    width: 100%;
    margin: auto;
    font-size: 13px;
    .form-group {
      label {
        color: #62a19b;
        font-size: 11px;
        font-weight: 500;
        transition: transform 0.2s ease, color 0.2s ease;
        margin-bottom: 8px;
      }
      input[type="text"], input[type="password"] {
        background-color: white;
      }
      input[type="text"], input[type="password"]:focus {
        outline: none;
        border-color: #62a19b;
        box-shadow: 0 1px 0 0 #62a19b;
        transition: transform 0.2s ease, color 0.2s ease;
      }
			
      .form-control {
        color: #495057;
        border: none;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        // padding: 10px 25px;
        line-height: 1.5;
        border-radius: 0;
        border-bottom: 1px solid #ccc;
        transition: border-color 0.2s ease, box-shadow 0.2s ease;
      }
      .btn.btn-primary {
        width: 182px;
        height: 42px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        background: #62a19b;
        border: 1px solid #62a19b;
        line-height: 24px;
      }
    }
  }
}
