.board-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .board-item{
        display: flex;
        padding: 17px;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        border-radius: 10px;
        &.block-disabled{
            .item{
                pointer-events: none;
                color: #E6E6E6;;
            }
        }
        .item{
            display: block;
            position: relative;
            background: #FFFFFF;
            border-radius: 8px;
            text-align: center;
            padding: 28px 44px;
            min-height: 200px;
            width: 100%;
            transition: all .2s ease-in-out;
            box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
            &:hover{
                opacity: 0.5;
            }
            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 122px;
            }
            .tit{
                font-size: 13px;
                font-weight: 500;
                line-height: 1.2;
            }
        }
    }
}