.table-header {
  margin: 20px 0 10px 0;
  button {
    height: 35px;
    span {
      line-height: 1;
    }
  }

  .btn-search {
    margin-left: 10px;
  }
  .btn-reset {
    margin-left: 10px;
  }
  .search-field {
    margin-bottom: 0px !important;
  }
}
