.btn-search{
  border: 1px solid #62A19B;
  color: white;
  background: #62A19B;
  margin-left: 10px;
  padding: 2px 15px;

}
.form-control-postal-code{
  width: 64px;
}
.btn-primary{
  margin-top: 15px;
  min-width: 254px;
}
