
.modal-custom{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    /* width */
    ::-webkit-scrollbar {
    width: 6px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #E2E2E2; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #62A19B; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #62A19B; 
    }
    .modal-content{
        .modal-header{
            .modal-title{
                margin-bottom: 0;
                line-height: 1.5;
                font-size: 20px;
                color: #515151;
            }
        }
        .modal-body{
            .modal-content-wrap {
                max-height: 400px;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                width: 100%;
                p {
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    margin: 0 0 10px;
                    font-size: 13px;
                    color: #515151;
                }
                span{
                    color: #515151;

                }
                ul{
                    margin: 0 0 10px;
                    padding-left: 25px;
                    li{
                        color: #515151;
                    }
                }
                ol {
                    margin: 0 0 10px;
                    list-style: decimal;
                    padding-left: 25px;
                }
                li{
                    font-size: 13px;
                }
            }

        }
        .modal-footer{
            display: flex;
            justify-content: center;
            & > * {
                margin: 4px;
            }
            .btn-secondary{
                width: 182px;
                height: 42px;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                background: #62A19B;
                border: 1px solid #62A19B;
            }
        }
    }
}
.modal-access-right{
    #form-register{
        .btn-search{
            border: 1px solid #62a19b;
            color: white;
            background: #62a19b;
            margin-left: 10px;
            margin-top: 34px;
            padding: 2px 15px;
        }
    }
    .ant-modal-content {
        background-color: transparent;
        box-shadow: none;
        // padding:20px 0px 0px 0px;
        padding: 0px;
        .ant-modal-body{
            padding: 0px;
        }
        .ant-modal-footer{
           background-color: #fff;
        }
        

        .ant-modal-close {
            .ant-modal-close-x{
                width: 20px;
                height: 20px;
                svg {
                    color:#fff;
                }
            }

        }
        .modal-custom{
            max-height: 78vh;
            overflow: hidden;
            .modal-custom-body{
                padding-top:20px;
                background-color: #fff;
                border-radius:5px 5px 0px 0px;
                margin-top: 20px;
               
                .modal-custom-content{
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    padding: 0px 20px 20px 20px;
                    max-height: 70vh;
                    overflow: auto;
                    .modal-custom-image{
                        width: 200px;
                        height: 200px;
                        margin: 0 auto;
                    }
                    .modal-custom-description{
                    }
                    .modal-custom-title{
    
                    }
                    ul.modal-custom-list {
                        list-style: none;
                        .modal-custom-item{
                            display: flex;
                            flex-direction: row;
                            margin-top:6px;
                            color:#62A19B;
                            .modal-custom-item-index{
                                border: 1px solid #62A19B;
                                width: 20px;
                                height:20px;
                                border-radius: 10px;
                                text-align: center;
                                line-height:18px
                            }
                            .modal-custom-item-content{
                                margin-left:5px
                            }
                        }
                    }
                    .modal-custom-video{
                        display:flex;
                        align-content: center;
                        
                    }
                }
                
            }
        }
    }
}