#cart {
  font-size: 13px;
  color: #515151;
  font-weight: 400;
  background-color: white;
  border-radius: 3px;
  line-height: 1.5;
  img {
    max-width: 100%;
    object-fit: cover;
  }

  .d-none {
    display: none !important;
  }
  .btn:focus {
    box-shadow: none !important;
  }
}
