.table-row-action {
  display: flex;
  width: 70px;
  justify-content: center;
  .img-row {
    cursor: pointer;
    font-size: 20px;
  }
  .img-row:first-child {
    margin-right: 5px;
  }
  .ant-popover-inner {
    width: 200px;
  }
}
