.product-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  td {
    vertical-align: top;
  }
  .img-head {
    width: 20px;
  }
  .img-row {
    width: 20px;
  }
  a {
    text-decoration: none;
  }
  .td-image {
    width: 50px;
  }
  .td-name {
    width: 200px;
  }
  .td-sku {
    width: 200px;
  }
  .td-status {
    width: 100px;
  }
  .td-price {
    width: 150px;
  }
  .td-categories {
    width: 200px;
  }
  .td-date {
    width: 200px;
  }
  .td-store {
    width: 200px;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
  .table-column-break {
    word-wrap: break-word;
    word-break: break-all;
  }
}
.category-wrapper {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
}
