.auth-layout {
  height: 100vh;
  display: flex;
  .layout-left,
  .layout-right {
    flex: 1;
  }
  .layout-left {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .layout-right {
    .form-input {
      padding: 20px;
      overflow: auto;
      max-width: 475px;
      width: 100%;
      margin: auto;
      font-size: 13px;
    }
  }
}
