.user-form {
  background: #fff;
  border-radius: 5px;
  padding: 0;
  .btn-generate-password {
    height: 32px;
    margin-left: 10px;
    span {
      line-height: 0;
      padding: 0;
    }
  }
  .ant-tabs-nav-wrap {
    margin-top: 20px;
    justify-content: center;
  }
  .common-info-form {
    width: 50%;
    margin: auto;
    padding-bottom: 40px;
  }
  .vendor-profile-form {
    width: 80%;
    margin: auto;
  }
  .plan-profile-form {
    width: 80%;
    margin: auto;
  }
  .billing-ship-form {
    width: 50%;
    margin: auto;
    padding-bottom: 40px;
  }
}

.table-column-break {
  word-wrap: break-word;
  word-break: break-all;
}
