#forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #515151;
  img {
    max-width: 100%;
    object-fit: cover;
  }
  button {
    opacity: 1;
    transition: 0.5s ease;
    &:hover {
      opacity: 0.5;
    }
  }
  a {
    opacity: 1;
    transition: 0.5s ease;
    &:hover {
      opacity: 0.5;
    }
  }
  .forgot-password-form {
    max-width: 475px;
    width: 100%;
    margin: auto;
    font-size: 13px;
    .container {
      padding: 0;
      .box-text {
        text-align: center;
        padding: 0 0 30px;
        p {
          margin: 0;
          font-size: 15px;
          line-height: 22.5px;
        }
      }
      .form-group {
        position: relative;
        margin: 0 0 15px;
        .icon {
          position: absolute;
          top: 32px;
          left: 0;
        }
        label {
          color: #62a19b;
          font-size: 11px;
          font-weight: 500;
          transition: transform 0.2s ease, color 0.2s ease;
          padding-left: 30px;
          margin-bottom: 8px;
        }
        input[type="text"] {
          background-color: white;
        }
        input[type="text"]:focus {
          outline: none;
          border-color: #62a19b;
          box-shadow: 0 1px 0 0 #62a19b;
          transition: transform 0.2s ease, color 0.2s ease;
        }
        .form-control {
          color: #495057;
          border: none;
          width: 100%;
          font-weight: 400;
          font-size: 16px;
          padding: 10px 25px;
          line-height: 1.5;
          border-radius: 0;
          border-bottom: 1px solid #ccc;
          transition: border-color 0.2s ease, box-shadow 0.2s ease;
        }
        .icon-input {
          position: absolute;
          top: 35px;
          left: 0;
        }
        .btn.btn-primary {
          width: 182px;
          height: 42px;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          background: #62a19b;
          border: 1px solid #62a19b;
          line-height: 24px;
        }
        .btn-back {
          height: 42px;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          background: #62a19b;
          border: 1px solid #62a19b;
          color: white;
        }
      }
    }
  }
}
