#header-home{
    .dropdown-toggle::after {
        margin-left: 10px;
        color: #62A19B;
    }
    display: flex;
    align-items: center;
    height: 62px;
    width: 100%;
    background: #ffffff;
    a{
        text-decoration: none;
    }
    button{
        opacity: 1;
        transition: 0.5s ease;
    }

    .logout-wrap {
        text-align: center;
        padding: 5px 20px;
        background: #fff;
    }
    .container-fluid{
        padding: 0 40px;
    }
    .site-header {
        display: flex;
        justify-content: flex-end;
        .block-profile-header{
            display: flex;
            align-self: center;
            .shopping-cart {
                position: relative;
                padding: 0 25px;
                .icon-cart {
                    .icon{
                        width: 45px;
                        height: 45px;
                        display: block;
                    }
                }
            }
            .language-switcher{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .logout-wrap{
                border-left: 1px solid #ddd;
                display: flex;
                align-items: center;
                a{
                    font-weight: bold;
                    font-size: 16px;
                    color: #62A19B;
                    .icon{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 992px) {
        .container-fluid{
            padding: 0 15px !important;
        }
        .site-header {
            justify-content: space-between !important;
            .navbar-toggler{
                box-shadow: none;
            }
        }
    }
    @media screen and (max-width: 768px){
        .container-fluid {
            padding: 0 5px !important;
        }
        .shopping-cart{
            padding: 0 5px !important;
        }
        .logout-wrap{
            padding: 0 5px !important;
        }
        #openItems{
            .myLangClass {
                min-width: 100% !important;
            }
        }
    }
}