#header-home{
    .dropdown-toggle::after {
        margin-left: 10px;
        color: #62A19B;
    }
    display: flex;
    align-items: center;
    height: 62px;
    width: 100%;
    background: #ffffff;
    a{
        text-decoration: none;
    }
    button{
        opacity: 1;
        transition: 0.5s ease;
    }

    .logout-wrap {
        text-align: center;
        padding: 5px 20px;
        background: #fff;
    }
    .container-fluid{
        padding: 0 40px;
    }
    .site-header {
        display: flex;
        justify-content: end;
        .block-profile-header{
            display: flex;
            align-self: center;
            .shopping-cart {
                position: relative;
                padding: 0 25px;
                .icon-cart {
                    .icon{
                        width: 45px;
                        height: 45px;
                        display: block;
                    }
                }
            }
            .language-switcher{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .switch-lang {
                    .btn-group {
                        .caption {
                            color: #62A19B;
                            font-size: 16px;
                        }
                        .myLangClass {
                            min-width: 175px;
                            box-shadow: none;
                            &:hover{
                                opacity: 0.5;
                            }
                            span {
                                color: #62A19B;
                                font-weight: 700 !important;
                                font-size: 16px;
                            }
                        }
                        ul.dropdown-menu {
                            min-width: 176px;
                            li {
                              padding: 5px 10px;
                              font-size: 14px;
                              cursor: pointer;
                              &:hover {
                                  background: #ddd;
                              }
                              a{
                                  color: #0c0c0c;
                                  display: block;
                                  text-align: left;
                              }
                              #close-lang{
                                  border: none;
                                  background: none;
                                  padding: 0;
                                  .icon{
                                      color: black;
                                  }
                                  span{
                                      margin-left: 8px !important;
                                      color: black;
                                  }
                              }
                          }
                      }
                    }   
                    
                }
            }
            .logout-wrap{
                border-left: 1px solid #ddd;
                display: flex;
                align-items: center;
                a{
                    font-weight: bold;
                    font-size: 16px;
                    color: #62A19B;
                    .icon{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 992px) {
        .container-fluid{
            padding: 0 15px !important;
        }
        .site-header {
            justify-content: space-between !important;
            .navbar-toggler{
                box-shadow: none;
            }
        }
    }
    @media screen and (max-width: 768px){
        .container-fluid {
            padding: 0 5px !important;
        }
        .shopping-cart{
            padding: 0 5px !important;
        }
        .logout-wrap{
            padding: 0 5px !important;
        }
        #openItems{
            .myLangClass {
                min-width: 100% !important;
            }
        }
    }
}

.task-bar-title{
    color: red !important;
}