.user-container{
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.react-bootstrap-table td>.selection-input-4, .react-bootstrap-table th>.selection-input-4{
  margin: 0 !important;
}
