.user-list {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  td {
    vertical-align: top;
  }
  .select-role {
    width: 200px;
    margin-left: 10px;
  }
  .select-company {
    width: 200px;
    margin-left: 10px;
  }
  .avatar-image {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    object-fit: cover;
  }
  .user-name-td {
    width: 200px;
  }
  .name-td {
    width: 200px;
  }
  .email-td {
    width: 200px;
  }
  .role-td {
    width: 120px;
  }
  .active-td {
    width: 170px;
  }
  .table-column-break {
    word-wrap: break-word;
    word-break: break-all;
  }
  .btn-export {
    margin-left: 10px;
  }
}
