#footer{
    display: flex;
    align-items: center;
    height: 62px;
    width: 100%;
    background-color: none;
    background: #e5e5e5;
    .copy-right{
        font-size: 13px;
        color: #62A19B;
    }
}