#checkout-page {
  font-size: 13px;
  color: #515151;
  font-weight: 400;
  .cart-custom {
    padding: 30px;
    background-color: #fff;
    position: relative;
    .table-bordered {
      border: 1px solid #dee2e6;
      & th,
      & td {
        border: 1px solid #dee2e6;
      }
      & thead th,
      & thead td {
        border-bottom-width: 2px;
      }
    }
    .table {
      width: 100%;
      margin-bottom: 16px;
      color: #212529;
      & th,
      & td {
        padding: 12px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        vertical-align: middle;
      }
      thead {
        background-color: #62a19b;
        color: #fff;
        th {
          vertical-align: bottom;
          border-bottom: 2px solid #dee2e6;
        }
      }
      .product-name {
        a {
          display: flex;
          align-items: center;
        }
        .image-wrap {
          width: 130px;
          img {
            width: 32px;
            height: auto;
          }
        }
      }
      .product-quantity {
        width: 120px;
      }
      tbody td {
        vertical-align: middle;
      }
    }
    .cart-header {
      text-align: center;
      margin-bottom: 25px;
      position: relative;
      h1 {
        color: #62a19b;
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        &:after {
          position: absolute;
          width: 100%;
          max-width: 300px;
          height: 1px;
          background-color: #ccc;
          content: "";
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .description {
        font-size: 16px;
      }
    }
    .cart-body {
      #cart-form {
        .table {
          width: 100%;
          height: auto;
          text-align: center;
        }
      }
    }
    .cart-totals {
      .table-cart-totals {
        max-width: 500px;
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
        .cart-totals-title {
          font-weight: bold;
          color: #fff;
          background-color: #62a19b;
        }
      }
    }
  }
  .info-block {
    & > h2 {
      background-color: #fff;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 10px 30px;
      margin-top: 30px;
    }
    & > .info-wrap {
      background-color: #fff;
      padding: 10px 30px;
      .info-row {
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: solid 1px #ccc;
        p {
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          margin: 0 0 10px;
          margin-bottom: 0;
        }
        .label {
          color: #62a19b;
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .submit-block {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    .confirm {
      input[type="checkbox"] {
        box-sizing: border-box;
        padding: 0;
      }
      .policy-confirm {
        margin-left: 8px;
        margin-bottom: 8px;
        #modal-term {
          text-align: left;
          a {
            color: #ff0000 !important;
            font-weight: 400;
          }
        }
      }
    }
    .btn-submit-checkout.disabled {
      background-color: #62a19b;
      opacity: 0.5;
    }
  }
  #modal-term {
    .modal-dialog {
      max-width: 800px !important;
      .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 40px;
      }
    }
  }
  @media screen and (max-width: 374.98px) {
    .cart-custom {
      padding: 15px !important;
      .table > :not(:first-child) {
        border: none;
      }
      .cart-body {
        thead {
          display: none;
        }
        .table {
          td {
            text-align: right;
            position: relative;
            display: block;
            width: 100%;
            &::before {
              content: attr(data-label);
              position: absolute;
              left: 0;
              padding-left: 15px;
              color: #62a19b;
              font-size: 13px;
              font-weight: bold;
            }
          }
        }
        .product-name {
          .name {
            width: 120px;
          }
          .image-wrap {
            width: 110px;
          }
        }
      }
    }
    .submit-block {
      .btn-primary {
        min-width: 0px !important;
      }
    }
  }
}
