.user-layout {
  background: #e5e5e5;
  width: 100%;
  height: fit-content;
  min-height: 100%;
  .user-layout-container {
    width: 700px;
    margin: auto;
    display: block;
    height: 100%;
    padding-block: 16px;
    .user-layout-back {
      background: #fff;
      width: fit-content;
      padding: 0 10px;
      border: 2px solid #62a19b;
      a {
        text-decoration: none;
        color: #62a19b;
        font-size: 13px;
        font-weight: 700;
        line-height: 19.5px;
        text-align: left;
        .icon-back {
          width: 35px;
          height: 35px;
          padding: 3px;
        }
        span {
          display: flex;
          align-items: center;
        }
      }
    }
    .user-layout-tabs {
      .nav-pills {
        background-color: #fff;
        margin-top: 17px;
        border-radius: 3px;
        .nav-item{
          display: flex;
        }
        .nav-link.active {
          background: transparent;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          color: #4E5260;
          &::after {
            opacity: 1;
            width: 100%;
          }
        }
        a {
          font-family: sans-serif;
          color: #62a19b;
          text-decoration: none;
          display: inline-block;
          text-align: center;
          padding-bottom: 0;
          padding-inline: 8px;
          .title-tab {
            padding-inline: 14px;
          }
        }

        a:after {
          content: "";
          position: relative;
          bottom: -2px;
          display: inline-block;
          width: 0px;
          background: #62a19b;
          height: 2px;
          opacity: 0;
          transition: opacity, width;
          transition-duration: 0.3s;
        }

        a:hover:after {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
  .container-content {
    margin-top: 25px;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 24px;
  }
  .form-group {
    label {
      margin-bottom: 8px;
    }
  }
  .form-group {
    position: relative;
    margin-bottom: 15px;
    label {
      color: #62a19b;
      font-size: 11px;
      font-weight: 500;
      transition: transform 0.2s ease, color 0.2s ease;
      padding-left: 0;
    }
    .form-control-auth {
      border: 0;
      border-bottom: 1px solid #ccc;
      outline: none;
      background: transparent;
      padding: 10px 5px;
      height: 38px;
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      &:focus {
        outline: none;
        border-color: #62a19b;
        box-shadow: 0 1px 0 0 #62a19b;
        transition: transform 0.2s ease, color 0.2s ease;
      }
    }
    .icon-input {
      position: absolute;
      bottom: 12px;
      left: 0;
    }
  }

  .show-pass {
    position: absolute;
    right: 20px;
    bottom: 14px;
    cursor: pointer;
  }
  .copy-right{
    color: #62A19B;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font-size: 13px;
  }
}
