#product-form {
  background-color: white;
  border-radius: 5px;
  .form-image-custom .container {
    position: relative;
    width: 257px;
    height: 257px;
    padding: 0;
  }
  .form-group-col {
    padding: 10px 30px 20px 30px;
  }
  .form-image-custom {
    width: 100%;
  }

  .input-field-space {
    padding: 0 30px;
  }
}
