#reset-link-password {
  margin: 0;
  padding: 0;
  text-align: center;
  h4 {
    margin-bottom: 15px;
    font-weight: bold;
  }
  p {
    margin-bottom: 15px;
  }
  .btn-back {
    width: 182px;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: #62a19b;
    border: 1px solid #62a19b;
    color: white;
    opacity: 1;
  }
  .btn-back:hover{
    opacity: 0.5;
  }
}
