#category-form {
  background-color: white;
  border-radius: 5px;
  .form-group {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 20px 30px;
    margin-bottom: 0;
    width: 100%;
    label {
      font-weight: bold;
      font-size: 13px;
      padding-bottom: 10px;
    }
  }
}
