.order-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;

  .ant-table-filter-trigger.active{
    color : #ffffff
  }
  .ant-table-thead th.ant-table-column-sort{
    background: #62a19b;
  }
  .ant-table-thead th.ant-table-column-has-sorters:hover{
    background: #62a19b
  }
}
